<div class="well">
	<h2 class="center">Editar cuenta</h2><br /><br />

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="control-group">
		  <%= f.label "Correo electrónico", class: "control-label", for: "inputEmail" %>
		  <div class="controls">
			  <%= f.email_field :email, autofocus: true, id: "inputEmail", placeholder: "Correo electrónico" %>
		  </div>
	  </div>

	  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	  <% end %>

	  <div class="control-group">
		  <%= f.label "Nueva contraseña", class: "control-label", for: "inputPassword1" %>
		  <div class="controls">
			  <%= f.password_field :password, autocomplete: "off", id: "inputPassword1", placeholder: "Nueva contraseña" %><br />
			  <i>(dejar en blanco si no deseas cambiarla)</i>
		  </div>
	  </div>

	  <div class="control-group">
		  <%= f.label "Confirmar contraseña", class: "control-label", for: "inputPassword2" %>
		  <div class="controls">
		  	<%= f.password_field :password_confirmation, autocomplete: "off", id: "inputPassword2", placeholder: "Confirmar contraseña" %>
		  </div>
	  </div>

	  <div class="control-group">
		  <%= f.label "Contraseña actual", class: "control-label", for: "currentPassword" %>
		  <div class="controls">
		  	  <%= f.password_field :current_password, autocomplete: "off", id: "currentPassword", placeholder: "Contraseña actual" %><br />
			  <i>(necesitamos tu contraseña actual para confirmar tus cambios)</i>
		  </div>
	  </div>
	  <br/><br/>
	  <div class="center"><%= f.submit "Actualizar", class: "btn btn-info" %></div>
	<% end %>

	<hr>
	<div class="">
		<h3>Insatisfecho?</h3>
		<p><%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
	</div>

	<%= link_to "Back", :back %>
</div>