<%= form_for(@recordatorio) do |f| %>
  <% if @recordatorio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recordatorio.errors.count, "error") %> prohibieron esta peticion de ser guardada:</h2>

      <ul>
      <% @recordatorio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= hidden_field(:recordatorio, :user_id) %>
	<%= hidden_field(:recordatorio, :regresado, options: {checked: false})%>
	<br />
	<div class="field">
		<%= f.label :fecha_prestamo %><br>
		<%= f.date_select :fecha_prestamo %>
	</div>
	<div class="field">
		<%= f.label :fecha_entrega %><br>
		<%= f.date_select :fecha_entrega %>
	</div>
	<div class="field">
		<%= f.label :contacto %><br>
		<%= f.text_field :contacto %>
	</div>
	<div class="field">
		<%= f.label :concepto %><br>
		<%= f.text_field :concepto %>
	</div>
	<div class="field">
		<%= f.label :detalle %><br>
		<%= f.text_field :detalle %>
	</div>
	<div class="actions">
		<% if controller.action_name.to_s.eql? "edit" %>
			<%= f.submit "Editar!", class: "btn btn-large btn-warning" %>
		<% else %>
			<%= f.submit "Agregar!", class: "btn btn-large btn-warning" %>
		<% end %>
	</div>
<% end %>
